body{
    background-color: #125883;
    width:70%;
    margin:0 auto;
}
div{
    margin:0 auto;
}
#heading{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: cornsilk;
    text-align: center;
}

#btn{
    background:#105F62;
    color: aliceblue;
    height: 32px;
    width:20%;
    font-size:22px;
    float: right;
}

#search{
    background: #37D145;
    height: 150px;
    width: 70%;
    margin: 0 auto;
}
#searchBox{
    vertical-align: middle;
    margin-left : 0;
    padding: 10px;
}

#imageDiv{
    text-align: center;
}

.info{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

#information{
    padding-top: 2rem;
    padding-bottom: 1%;
    text-align: center;
    width:60%;
}